*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5px;
    background-image: linear-gradient(to right,red,blue);
    font-weight: 700;
    font-size: larger;
    font-style: oblique;
    
}


#btn{
    margin: 10px;
    padding: 3px 2px 3px 2px;
    font-style: oblique;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    transition: all ease 0.5s;
    background-image: linear-gradient(to bottom , green, yellow);
}

#btn:hover{
    box-shadow: 5px 5px 10px black;
    color: black;
}

#btn:active{
    scale: 0.9;
}


.second-container{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    /* background-color: aqua; */
    padding: 2%;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow:inset 5px 5px 5px 4px rgb(49, 40, 40), inset -20px -20px 40px #ffffffa1;
}

.text-color{
    color: white;
}
#response{
    max-height: 100%;
    max-width: 200px;
}